.wrapper {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  .title {
    padding-top: 40px;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .list {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    .box {
      width: 25%;
      height: 320px;
      box-sizing: border-box;
      margin-bottom: 5px;
      cursor: pointer;
      border: 1px solid #000;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        border-right: none;
      }
      img {
        width: 100%;
      }
    }
  }
}
